
html, body {
    padding: 0;
    margin: 0;

    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.4rem;
}

a {
    color: #5b2ed7;
}

nav {
    position: fixed;
    background-color: #f0f5ff;
    width: 100%;
    display: flex;
    justify-content: right;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

nav > a {
    font-size: 1.6rem;
    margin: 1rem 2rem;
    text-decoration: none;
}

footer {
    background-color: #1e1e21;
    padding: 2rem;
    color: #c1c1d5;
}

footer a {
    color: #6770f7;
}


.theme-text, h2 {
    color: #ff0000;
}
