
html, body {
    padding: 0;
    margin: 0;

    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.4rem;
}

a {
    color: #5b2ed7;
    transition: .14s color;
}

a:hover {
    color: #00d09e;
}

nav {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e6f2ea;
}

nav > a {
    font-size: 1.5rem;
    padding: .7rem 2rem .2rem 2rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    border-left: 1px solid #e6f2ea;
    display: flex;
    align-items: center;
}

nav > a img {
    width: 2.4rem;
    margin-right: 14px;
}

nav > a:last-child {
    border-right: 1px solid #e6f2ea;
    margin-right: 4rem;
}

nav > a:hover {
    border-bottom-color: #00d09e;
    box-shadow: 0 0 15px #e6f2ea;
}

footer {
    background-color: #1e1e21;
    padding: 2rem;
    color: #c1c1d5;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #6770f7;
}

footer a:hover {
    color: #5bfed7;
}

.theme-text, h2 {
    color: #ff0000;
}
