
body {
    background-color: #e6f2ea;
    overflow-x: hidden;
}

#home header {
    height: 100vh;
    display: grid;
    place-items: center;

    background-image: url("../images/prototype-image.png");

    background-position: top right;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

#home header > div {
    padding-right:  30%;
    padding-bottom: 10%;
}

#home header h2 {
    color: #4f4f5e;
}

body > section {
    width: 60rem;
    max-width: 100%;
    padding: 2rem calc(50vw - 30rem);
    font-size: 1.4rem;
    position: relative;
}

#hvordan,
#hvorfor {
    background-color: #ffffff;
}

img.children {
    width: 100%;
    max-width: 90vw;
}

.map {
    float: right;
    width: 300px;
}
