
body {
    background-color: #d3f9ff;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    padding: 0 4rem;
    justify-content: space-around;
}

ul li {
    margin: 1rem 4rem;
}

ul li > img {
    margin-bottom: -.8rem;

    width: 90%;
    margin-left: 5%;
}

ul li > div {
    text-align: center;
    font-size: 2rem;
}
